/* General and Typography styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: white;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header styles (avatar, portfolio name and nav menu) */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5%;
  height: 80px;
}

.avatar-flexbox {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 25%;
}

.croppedAndResizedAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 37.5%;
}

/* Hero banner styles */
.hero-banner {
  height: 230px;
  background-image: url("../assets/images/3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#centeredText {
  margin: auto;
  text-align: center;
}

/* Main grid housing about, work and contact sections*/ 
/* Credit: Grid CSS code created using Angry Tools CSS Grid Layout Generator*/
.page-wrapper {
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  row-gap: 40px;
  column-gap: 40px;
  margin: 40px 120px;
}

#aboutTitle {
  background-color: #6adadd; 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}

#aboutText {
  background-color: #f6abca; 
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 7;
}

#workTitle {
  background-color: #8b79dd; 
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 9;
  grid-column-end: 3;
}

#workGrid {
  background-color: #ef95d8; 
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 9;
  grid-column-end: 7;
}

#contactTitle {
  background-color: #756db5; 
  grid-row-start: 9;
  grid-column-start: 1;
  grid-row-end: 10;
  grid-column-end: 3;
}

#contactOptions {
  background-color: #c857dc; 
  grid-row-start: 9;
  grid-column-start: 3;
  grid-row-end: 10;
  grid-column-end: 7;
}

/* Work grid (nested grid) housing Ugo's portfolio */
/* Credit: Grid CSS code created using Angry Tools CSS Grid Layout Generator*/
#workGrid {
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
}

#horiseon {
  background-color: #A9665B; 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 7;
}

#frontEnd {
  background-color: #A9BD7E; 
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 4;
}

#futureProject1 {
  background-color: #F758A7; 
  grid-row-start: 4;
  grid-column-start: 4;
  grid-row-end: 5;
  grid-column-end: 7;
}

#futureProject2 {
  background-color: #588B98; 
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 4;
}

#futureProject3 {
  background-color: #97DBFE; 
  grid-row-start: 5;
  grid-column-start: 4;
  grid-row-end: 6;
  grid-column-end: 7;
}

/* Contact section (nested flexbox) styles */
#contactOptions {
  display: flex;
  justify-content: space-between;
}

/* Footer styles */
footer {
  text-align: center;
}