/* General and Typography styles */
/* CSS variables for colour scheme copied from CSS Snippet Cheatsheet Mini project */
:root {
  --not-too-black: #161717;
  --dull-white: #e0eae4;
}
  
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: var(--dull-white);
  background-color: var(--not-too-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.gridHeading a {
  font-size: 20px;
  font-weight: bold;
}

.gridHeading h4 {
  font-size: 20px;
  font-weight: bold;
}

.gridHeading h5 {
  font-size: 12px;
  font-weight: normal;
}

p {
  margin: 0;
}

/* Header styles (avatar, portfolio name and nav menu) */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  height: 80px;
}

.avatar-flexbox {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 25%;
  font-size: 20px;
}

.croppedAndResizedAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 20px;
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  width: 37.5%;
  margin: 0px 110px;
  font-size: 30px;
}

/* I want the nav menu links to remain white in every state */
.nav-link:link    {color:white;}
.nav-link:visited {color:white;}
.nav-link:hover   {color:white;}
.nav-link:active  {color:white;}


/* Hero banner styles */
.hero-banner {
  height: 230px;
  background-image: url("../assets/images/3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
}

#bannerText {
  margin: auto;
  text-align: center;
}

/* Main grid housing about, work and contact sections*/ 
/* Credit: Grid CSS code created using Angry Tools CSS Grid Layout Generator https://angrytools.com/css-grid/*/
.page-wrapper {
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  row-gap: 40px;
  column-gap: 40px;
  margin: 40px 120px;
}

#aboutTitle {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

#aboutText {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 7;
  margin: 10px;
}

#workTitle {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 9;
  grid-column-end: 2;
}

#workGrid {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 9;
  grid-column-end: 7;
}

#contactTitle {
  grid-row-start: 9;
  grid-column-start: 1;
  grid-row-end: 10;
  grid-column-end: 2;
}

#contactOptions {
  grid-row-start: 9;
  grid-column-start: 2;
  grid-row-end: 10;
  grid-column-end: 7;
}

.sectionHeadingArea {
  text-align: right; 
  border-right: 5px solid white;
}

.sectionHeading {
  font-size: 50px;
  margin: 0px 15px;
}

/* Work grid (nested grid) housing Ugo's portfolio */
/* Credit: Grid CSS code created using Angry Tools CSS Grid Layout Generator https://angrytools.com/css-grid/*/
#workGrid {
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
}

.workGridItem {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  margin: 10px;
  border: 3px solid var(--dull-white);
  display: grid;
}

.workGridItem:hover {
  opacity: 1;
  cursor: grab;
}

#horiseon {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 7;
  background-image: url(../assets/images/horiseon.png);
}

#frontEnd { 
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 4;
  background-image: url(../assets/images/front-end-study-guide.png);
}

#futureProject1 {
  grid-row-start: 4;
  grid-column-start: 4;
  grid-row-end: 5;
  grid-column-end: 7;
  background-image: url(../assets/images/future-project.webp);
}

#futureProject2 {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 4;
  background-image: url(../assets/images/future-project.webp);
}

#futureProject3 { 
  grid-row-start: 5;
  grid-column-start: 4;
  grid-row-end: 6;
  grid-column-end: 7;
  background-image: url(../assets/images/future-project.webp);
}

.gridHeading {
  background-color: var(--dull-white);
  color: var(--not-too-black);
  max-width: 200px;
  padding: 25px;
  margin: 50px 0 150px 0;
  position: absolute;
  z-index: 100;
}

/* Contact section (nested flexbox) styles */
.contactOptionsFlexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  font-size: 30px;
}

/* I want the contact options links to remain white in every state */
.contactOption:link    {color:white;}
.contactOption:visited {color:white;}
.contactOption:hover   {color:white;}
.contactOption:active  {color:white;} 

/* Footer styles */
footer {
  display: inline-block;
  background-color: green;
  text-align: center;
}

/* For smaller laptop screens: */
@media only screen and (max-width: 1330px) {
  body {
    background-color: red;
  }
  .contactOptionsFlexbox {
    flex-direction: column;
  }
}

 /* For tablet screens: */
@media only screen and (max-width: 940px) {
  body {
    background-color: blue;
}
.page-wrapper {
  margin: 40px 10px;
}
#workGrid {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#horiseon {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
}

#frontEnd { 
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}

#futureProject1 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
}

#futureProject2 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 3;
}

#futureProject3 { 
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 3;
}


 /* For mobile phone screens: */
@media only screen and (max-width: 680px) {
  body {
    background-color: yellow;
  }
  #nav-menu {
    display: none;
  }
}

